.escolha{
    margin: auto;
    margin-top: 200px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1005px;
}
.Logar img{
    height: 10rem;
}
.Logar img{
    height: 10rem
    ;
}
.Logar{
    background-color: white;
    margin: 30px;
    padding: 30px;
    border-radius: 1rem;
    border: #319EA1 outset 10px;
}
.cad{
    display: block;
    align-items: end;
    justify-content: end;
    text-align: end;
}
